<div class="card">
  <div class="card-header">
    Add Anime
  </div>
  <div class="card-body">
    <%= render 'form', anime: @anime %>

  </div>
</div>
<br/>

<%= link_to 'Back', animes_path, class:'btn btn-secondary' %>
